# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/

# Python Environment
.python-version

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# Streamlit
.streamlit/secrets.toml

# Large ML Model Files

